/dem_ndim300_min5.model
/dem_ndim300_min5.model.trainables.syn1neg.npy
/dem_ndim300_min5.model.wv.vectors.npy
/demall.csv
/demdata.csv.gz
/demdata.txt
/GFG.csv
/glove_100_3_polish.txt
/modeltest1/saved_model.pb
/modeltest1/variables/variables.data-00000-of-00001
/modeltest1/variables/variables.index
/project-tensorboard/log-1/checkpoint
/project-tensorboard/log-1/embedding.ckpt-1.data-00000-of-00001
/project-tensorboard/log-1/embedding.ckpt-1.index
/project-tensorboard/log-1/embedding.ckpt-1_temp_ebf20e9e96d8496c8ca12d03c265a0a0/part-00000-of-00001.data-00000-of-00001
/project-tensorboard/log-1/embedding.ckpt-1_temp_ebf20e9e96d8496c8ca12d03c265a0a0/part-00000-of-00001.index
/project-tensorboard/log-1/metadata.tsv
/project-tensorboard/log-1/projector_config.pbtxt
/Sentiment Analysis Dataset.csv
/testdata.manual.2009.06.14.csv
/training.1600000.processed.noemoticon.csv
/tsne_FT_100k.npy
/tsne_FT_1M.npy
/tsne_glove10k.npy
/tsne_w2v.npy
/data/None.txt
/data/plwiki-20210101-pages-articles-multistream.xml.bz2
/data/plwiki-20210101-pages-articles-multistream1.xml-p1p187037.bz2
/data/plwiki-20210101-pages-articles-multistream-index.txt
/wikiDoc2Vec(dbow+w,d200,n5,w8,mc10,s0.001,t4).model
/wikiDoc2Vec(dbow+w,d200,n5,w8,mc10,s0.001,t4).model.dv.vectors.npy
/wikiDoc2Vec(dbow+w,d200,n5,w8,mc10,s0.001,t4).model.syn1neg.npy
/wikiDoc2Vec(dbow+w,d200,n5,w8,mc10,s0.001,t4).model.wv.vectors.npy
/wiki.fasttext.model
/wiki.fasttext.model.syn1neg.npy
/wiki.fasttext.model.wv.vectors_ngrams.npy
/wiki.fasttext.model.wv.vectors_vocab.npy
/wiki.fasttext-no-n-grams.model
/wiki.fasttext-no-n-grams.model.syn1neg.npy
/wiki.fasttext-no-n-grams.model.wv.vectors_vocab.npy
/wiki.word2vec.model
/wiki.word2vec.model.syn1neg.npy
/demofile2.txt
/wikifasttextlibcbow.bin
/wikifasttextlibskipgram.bin
/wikifasttextlibcbowsamepararms.bin
/wikifasttextlibskipgramsamepararms.bin
/wiki.courpus
/wiki.mm
/wiki.mm.index
/wikifull.word2vec.model
/wikifull.word2vec.model.syn1neg.npy
/wikifull.word2vec.model.wv.vectors.npy
/fasttext_no_char_n-grams_plwiki_dim300_window10_mincount40ns5.7z
/wikifull.fasttext-no-n-grams.model
/wikifull.fasttext-no-n-grams.model.syn1neg.npy
/wikifull.fasttext-no-n-grams.model.wv.vectors_vocab.npy
